<div>
  <h1>STATISTICS</h1>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">
        Total users registered: <%= stats.total %>
        <br />
        Last registered user: <%= stats.recent %>
      </p>
      <p class="card-text">
        <small class="text-body-secondary">Last updated <%= stats.now %></small>
      </p>
    </div>
  </div>
</div>
