<div>
  <h1>SEARCH</h1>
  <div class="input-group flex-nowrap">
    <form action="" method="get">
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-describedby="addon-wrapping"
        name="userData"
      />
    </form>
  </div>
</div>
